@model Al_Web_2.Models.SirketEkle
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">

                <div class="tox-form-group--maximize" style="margin-top:30px;">
                    <label>Şirket İsim</label>
                    <input type="text" name="SirketIsim" class="form-control" value="@Model.SirketIsim" required oninvalid="this.setCustomValidity('Lütfen işaretli yeri doldurunuz')" onchange="this.setCustomValidity('')" />
                </div>

                <div class="tox-form-group--maximize" style="margin-top:30px;">
                    <label>Kullanıcı</label>
                    <br />
                    @*@Html.ListBoxFor(x => x.Kullanicilar, (List<SelectListItem>)ViewBag.kllnc, new { @class = "form-control" })*@

                    <select class="form-control" id="kullanicilar" multiple="multiple" name="Kullanicilar">


                        @for (int i = 0; i < ViewBag.kllnc.Count; i++)
                        {
                            if (ViewBag.kllnc[i].Selected == true)
                            {
                                <option selected value="@ViewBag.kllnc[i].Value">@ViewBag.kllnc[i].Text</option>

                            }
                            else
                            {
                                <option value="@ViewBag.kllnc[i].Value">@ViewBag.kllnc[i].Text</option>

                            }
                        }

                    </select>

                </div>

                <div class="tox-form-group--maximize" style="margin-top:30px;">
                    <label>Kanal</label>
                    <br />

                    @*@Html.ListBoxFor(x => x.KanalEkle, (List<SelectListItem>)ViewBag.knl, new { @class = "form-control" })*@

                    <select class="form-control" id="KanalEkle" multiple="multiple" name="KanalEkle">

                        @for (int i = 0; i < ViewBag.knl.Count; i++)
                        {
                            if (ViewBag.knl[i].Selected == true)
                            {
                                <option selected value="@ViewBag.knl[i].Value">@ViewBag.knl[i].Text</option>

                            }
                            else
                            {
                                <option value="@ViewBag.knl[i].Value">@ViewBag.knl[i].Text</option>

                            }
                        }

                    </select>
                </div>


                <div class="tox-form-group--maximize" style="margin-top:30px;">
                    <label>Cihaz</label>
                    <br />

                    @*@Html.ListBoxFor(x => x.KanalEkle, (List<SelectListItem>)ViewBag.knl, new { @class = "form-control" })*@

                    <select class="form-control" id="CihazEkle" multiple="multiple" name="CihazEkle">

                        @for (int i = 0; i < ViewBag.chz.Count; i++)
                        {
                            if (ViewBag.chz[i].Selected == true)
                            {
                                <option selected value="@ViewBag.chz[i].Value">@ViewBag.chz[i].Text</option>

                            }
                            else
                            {
                                <option value="@ViewBag.chz[i].Value">@ViewBag.chz[i].Text</option>

                            }
                        }

                    </select>
                </div>

                <br />
                <br />
                <button type="submit" class="btn btn-primary">Guncelle</button>
                <a href="/FirmaEkle/Index">Firma Listesi</a>

            </form>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('#kullanicilar').multiselect({
            includeSelectAllOption: true
        });

        $('#KanalEkle').multiselect({
            includeSelectAllOption: true
        });

        $('#CihazEkle').multiselect({
            includeSelectAllOption: true
        });
    });
</script>