@using Al_Web_2.Models
@model List<CihazEkle>
@{
    ViewBag.Title = "CihazEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="/CihazEkle/Ekle" class="btn btn-primary">Cihaz Ekle</a>
    <br />
    <br />

    @using (Html.BeginForm("Index", "CihazEkle", FormMethod.Post))
    {
        <table id="tblCihaz" class="table table-bordered">
            <thead>
                <tr>
                    @if (User.IsInRole("A"))
                    {
                        <th><input type="checkbox" id="checkBoxAll" /></th>
                        <th>Cihaz Adı</th>
                        <th>Cihaz Seri-No</th>
                        <th>Sim Kart</th>
                        <th>Kullanıcı</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    }
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" class="checkbox" value="@item.Id" name="cihazId" /></td>
                    <td>@item.CihazAd</td>
                    <td>@item.CihazSeriNo</td>
                    <td>@item.SimCard</td>
                    <td>
                        <div style='padding: 3px; width: 350px; word-break: break-all; word-wrap: break-word; max-width: 100%; height: 80px; overflow: auto;'>

                            @foreach (var itemc in item.Kullanicilar)
                            {
                                <span style="margin-bottom:7px;">@($"{itemc.Ad} {itemc.Soyad}")<br /></span>
                            }
                        </div>

                    </td>

                    @if (User.IsInRole("A"))
                    {
                        <td>@Html.ActionLink("Sil", "Sil", new { id = item.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Silmek İstiyor Musunuz ?')" })</td>

                        <td><a href="/CihazEkle/Guncelle/@item.Id" class="btn btn-primary">Güncelle</a></td>

                    }

                </tr>
            }
        </table>
        <input type="submit" value="Tümünü Sil" class="btn btn-danger" style="margin-top:10px;" onclick="return confirm('Emin misiniz ?')" />
    }
</div>


<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tblCihaz').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked"))
                $('.checkbox').prop('checked', true);
            else
                $('.checkbox').prop('checked', false);
        });
    });
</script>
